body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.all-movies {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
}

.home-description {
  grid-row: 1 / 2;
  place-self: center end;
  margin-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}


.each-movie {
  transform: scale(0.65);
  margin-bottom: -280px;
  cursor:pointer;
}

.single-movie  {
  transform: scale(0.65);
  margin-top: -200px;
  margin-bottom: -315px;
  font-size: 20px;
}

.watchlist-empty {
  margin-top: 100px;
  text-align: center;
}

.watch-list {
  transform: scale(0.65);
}







@media screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {
  
}



