body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 


.all-movies {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
}

.home-description {
  grid-row: 1 / 2;
  place-self: center end;
  margin-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}


.each-movie {
  transform: scale(0.65);
  margin-bottom: -280px;
  cursor:pointer;
}

.single-movie  {
  transform: scale(0.65);
  margin-top: -200px;
  margin-bottom: -315px;
  font-size: 20px;
}

.watchlist-empty {
  margin-top: 100px;
  text-align: center;
}

.watch-list {
  transform: scale(0.65);
}






@media screen and (max-width: 768px) {
 .navbar-custom {
 
 }
}



@media screen and (min-width: 768px) {
  .each-movie {
    /* transform: scale(0.45); */
    /* margin-bottom: -450px; */
    display: inline-block;
    /* display: none;  */
  }
  
  .single-movie {
    /* transform: scale(0.45); */
    margin-top: -300px;
    margin-bottom: -500px;
  }


  .test img {
    display: flex;  
    margin-right: 700px; 
    margin-top: 200px; 
  }

  .test .writing {
    display: flex; 
    flex-grow: 100;
    flex-direction: column;
    margin-left: 700px; 
    margin-top: -825px;
    font-size: 30px; 
  }

}


@media only screen and (min-width: 1024px) {
  
}



/* font-size: calc(1.375rem + 1.5vw); */


/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; */
