body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 


.all-movies {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
  font-size: 50px;
}

.home-description {
  grid-row: 1 / 2;
  place-self: center end;
  margin-top: 100px;
  margin-bottom: 25px; 
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
  text-align: left; 
}


.each-movie {
  width: 60%;
  margin: auto;
  margin-bottom: 25px;
  display: block;
  cursor:pointer;
}

.single-movie img  {
  /* transform: scale(0.65); */
  width: 60%;
  margin: auto;
  display: block;
  /* margin-top: -200px;
  margin-bottom: -315px; */
}

.single-movie .writing {
  width: 90%;
  text-align: center;
  margin: auto;
  display: block; 
  font-size: 15px; 
  margin-bottom: 50px; 
  padding-left: 10%;
  padding-right: 10%;
}

.writing p {
  margin: 2.5%;
  text-align: left;
  padding-left: 5%;
}

.watchlist-empty {
  margin-top: 100px;
  text-align: center;
}

.watch-list img {
  width: 60%;
  margin: auto;
  margin-top: 100px; 
  display: block;
}

.watch-list button {
  margin: auto;
  display: block;
}

.feedback p {
  margin-top: 100px;
  margin-bottom: 25px; 
  padding-left: 10%;
  padding-right: 10%;
  font-size: 17px;
  text-align: left;   
}

.about p {
 
    margin-top: 100px;
    margin-bottom: 25px; 
    padding-left: 10%;
    padding-right: 10%;
    font-size: 17px;
    text-align: left;   
  
}









@media screen and (min-width: 768px) {
  .home-description {
    font-size: 25px;
  }
  .single-movie img {
    float: left; 
    padding-top: 5%;
    padding-left: 10%; 
    padding-right: 5%;
    padding-bottom: 10%; 
    /* transform: scale(0.75); */
  }
  .single-movie .writing {
    text-align: left;
    padding-top: 5%; 
    padding-right: 0%; 
  }
  
  .feedback p {
    font-size: 25px;
   }

  .writing p {
    margin: 2.5%; 
  }

   .watch-list img {
     padding-left: 0%; 
     width: 45%; 
   }

   .about p {
    font-size: 25px;
   }
}


@media only screen and (min-width: 1024px) {
  .home-description {
    display: flex; 
    justify-content: flex-start;
    margin-top: 15%;
    margin-right: 50%;

  }
  .single-movie   {
    width: 55%;
    margin: auto;
    margin-top: -100px;
    display: block;
    right: 0; 
    position: fixed; 
  }
  
  
  .writing p {
    margin: 2.5%;
    text-align: left;
    padding-left: 5%;
  }
  .each-movie {
    transform: scale(0.75);
    margin-bottom: -12%;
    padding-left: 5%; 
    width: 45%;
    float: left; 
  }
  .watch-list img {
    padding-left: 0%; 
    width: 30%; 
  }
}



/* font-size: calc(1.375rem + 1.5vw); */


/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; */
